/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #16036B;
    /*background: url('img/bg2.jpg') fixed;
    background-position: top;*/
    /*min-width: 300px;*/

    overflow: hidden;
}

.content {
    max-width: 500px;
    max-height: 350px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.gravatar-image {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-box-shadow: 2px 2px 10px 1px #333333;
    box-shadow: 2px 2px 10px 1px #333333;
    background: url("http://gravatar.com/avatar/50ce4c6f491988ecc316158a3d1f80f2?size=200") no-repeat;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 45px;
    color: white;
    text-shadow: 1px 1px 3px #333333;
}

h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 25px;
    color: white;
    text-shadow: 1px 1px 3px #333333;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 15px;
    color: white;
}

p.credits {
    font-size: 12px;
    margin-top: 20px;
    line-height: 110% !important;
    text-align: left;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: white;
}

a.credit-link {
    color: rgb(31, 43, 69);
}

a.credit-link:hover {
    text-decoration: underline;
}

i.fa {
    /*text-shadow: 1px 1px 3px #333333;*/
    margin-bottom: 50px;
    transition: all .3s ease;
    color: rgba(255, 255, 255, 0.7);
}

i.fa:hover, i.fa:focus {
    /*color: rgba(108, 147, 174, 0.67);*/
    color: white;
    text-decoration: none;
}

.btn.btn-default {
    background: none;
    position: relative;
    font-size: 18px;
    /*text-transform:uppercase;
    letter-spacing:4px;*/
    color: #fff;
    transition: all .3s ease;
    border: 1px solid #fff;
    padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
}

.btn.btn-default:hover, .btn.btn-default:active, .btn.btn-default:focus {
    /*background: rgba(31, 43, 69, 0.80);*/
    /*background: rgba(10, 18, 34, 0.45);
    border: 1px solid rgba(39, 46, 60, 0.90);*/
    background: rgba(255, 255, 255, 0.8);
    /*color: rgb(61, 131, 201);*/
    /*color: #bbb;*/
    color: black;
    font-family: 'Roboto', sans-serif;
}

.vex.vex-theme-flat-attack .vex-dialog-button.vex-dialog-button-primary {
    background: rgb(31, 43, 69);
    color: white;
}

.vex.vex-theme-flat-attack .vex-dialog-button.vex-dialog-button-primary:hover {
    background: rgb(20, 20, 41);
    color: white;
    transition: all .3s ease;
}

.vex-dialog-message {
    font-family: 'Roboto', sans-serif;
    /*font-size: 16px;*/
    line-height: 120%;
}

.modal-header {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    line-height: 120%;
    font-weight: bold;
    padding: 0 0 15px 0;
    border: none;
}

.bottom-right {
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.bottom-right > i.fa {
    margin-bottom: 0;
}